<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<property name="LOG_DIR" value="c:\\logs" />

	<appender name="fichero" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}\salidaFichero.log</file>
		<append>true</append>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %red%msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="consola" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="tema3.logSalidaFichero" level="DEBUG">
		<appender-ref ref="fichero" />
	</logger>

	<logger name="Consola" level="INFO">
		<appender-ref ref="consola" />
	</logger>
	
	

</configuration>
